In [2]:
import sys

import pandas as pd

sys.path.append('../src/construct/')
import util

In [54]:
foo = pd.read_excel('/Users/brynmorp/Data/Europe/PRODCOM/Website_snapshot_2018_N2.xlsx', sheet_name='Total Volume', skiprows=[0, 1, 3, 4, 5], index_col=0)
foo = foo.astype(str).apply(util.to_numeric)
foo.index = foo.index.astype(str)#.str[:4].astype(int)

In [58]:
foo.filter(regex=r'^20142210', axis=0).dropna(how='all').dropna(axis=1)

,Volume EU27_2020,Base EU27_2020,Volume EU28,Base EU28,Belgium,Bulgaria,Denmark,Germany,Estonia,Ireland,...,Portugal,Romania,Slovenia,Slovakia,Finland,Sweden,Iceland,Bosnia and Herzegovina,Montenegro,North Macedonia
PRODCOM Code,,,,,,,,,,,,,,,,,,,,,
20142210,1600000.0,400000.0,1600000.0,400000.0,5480.067,0.0,251.65,1129557.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
bar = foo.loc['20142210'].dropna(axis=1)
#bar.div(bar.loc['Volume EU28'])

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [14]:
baz = foo.loc[['20151075', '20151077']].dropna(axis=1).sum()

In [15]:
baz

Volume EU27_2020          1.246490e+07
Base EU27_2020            4.100000e+05
Volume EU28               1.329490e+07
Denmark                   1.198983e+04
Germany                   2.726528e+06
Estonia                   0.000000e+00
Ireland                   0.000000e+00
Spain                     4.039460e+05
France                    9.773700e+05
Croatia                   3.266180e+05
Cyprus                    0.000000e+00
Latvia                    0.000000e+00
Lithuania                 7.822889e+05
Luxembourg                0.000000e+00
Malta                     0.000000e+00
Poland                    2.172023e+06
Romania                   5.398043e+05
Slovenia                  0.000000e+00
Slovakia                  4.443301e+05
Finland                   5.962966e+04
Iceland                   0.000000e+00
Norway                    0.000000e+00
Bosnia and Herzegovina    0.000000e+00
Montenegro                0.000000e+00
North Macedonia           0.000000e+00
Serbia                    0.000000e+00
dtype: float64

In [49]:
foo = pd.read_csv('/Users/brynmorp/Data/Europe/nitrates_prod.csv', index_col=0)

In [51]:
bar = foo.index.map(util.get_alpha2)

In [52]:
len(bar)

34